<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Respondida em: </strong> {{ answer_at }} <br />
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta:</strong> {{ answer }} <br />
</p>
