<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Data início do plano: </strong> {{ date_start }} <br />
  <strong>Data final do plano: </strong> {{ date_end }} <br />
  <strong>Valor total do plano:</strong> R$ {{ price }} <br />
  <br />
  Seja bem vindo a GymPoint.
</p>
